.primaryButton {
    border: none;
    color: var(--grey5);
    background-color: #38FFC3;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 8px;
    height: 40px;
    width: 100%;
}

.primaryButton button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--grey5);
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    height: 100%;
    height: 40px;
}

.primaryButton__disabled button {
    color: var(--grey2);
}

.primaryButton__disabled {
    background-color: var(--grey3)
}