.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    cursor: pointer;
}

.buttonSmall p {
    font-size: 12px;
}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}

.grey {
    color: var(--grey2);
}

.white {
    color: var(--white);
}

.prefixIcon {
    transform: translateY(2px);
}

.suffixIcon {
    transform: translateY(2px);
}