################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/CopyZillaBackend/src/CopyZillaBackend.API/appsettings.Development.json
/backend/CopyZillaBackend/tests/API.Tests/test_appsettings.Development.json
/backend/CopyZillaBackend/tests/API.Tests/test_appsettings.json
/backend/CopyZillaBackend/.editorconfig
/backend/.vscode/launch.json
/backend/.vscode/tasks.json
/.vs/CopyZilla/v17
