.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--grey4);
  padding: 10px;
  min-width: 300px;
  row-gap: 10px;
}

.popup__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
}

.popup__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  width: 100%;
  height: 60px;
}

.textButton {
  cursor: pointer;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    color: white;
}

p,
a,
body,
input,
li,
ul,
label,
body {
    color: white;
}