.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 235px;
    background-color: var(--grey5);
    padding: 0px 30px;
}

.sidebar__header {
    height: 60px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sidebar__header h5 {
    cursor: pointer;
}

.sidebar__bottom_nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.sidebar__bottom_nav a {
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .sidebar {
        display: none;
    }
}