.dropdown__button__content {
    display: flex;
    padding: 12px;
    border-radius: 8px;
    background-color: var(--grey3);
    height: 45px;
    width: 100%;
    cursor: pointer;
}

.dropdown__button {
    min-width: 150px;
    width: 100%;
    position: relative;
}

.dropdown__button__content__error {
    border: 1px solid var(--red);
}

.dropdown__button__value {
    color: var(--grey2);
}

.dropdown__button__value__selected p {
    color: white;
}

.dropdown__button__menu {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    position: absolute;
    bottom: 30px;
    width: 100%;
    background-color: var(--grey3);
    box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.dropdown__button__menu ul {
    display: inline-block;
    position: relative;
}

.dropdown__button__menu li {
    list-style: none;
    margin: 0px 0px;
    padding: 15px 20px;
    cursor: pointer;
}

.dropdown__button__menu li:hover {
    background-color: var(--grey4);
}