.textButton {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.textButton__prefixIcon {
    margin-right: 5px;
    width: 20px;
}

.textButton:hover {
    cursor: pointer;
}