.page__landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    width: 100%;
}

.landingSection {
    padding: 40px;
    row-gap: 40px;
    column-gap: 40px;
}

.landingSection__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.landingSection__hero__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.landingSection__totalReviews__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
}

.landingSection__totalReviews {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    justify-content: center;
    row-gap: 40px;
    text-align: center;
}

.landingSection__totalReviews__reviews {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    row-gap: 20px;
    column-gap: 20px;
}

.landingSection__totalReviews__reviews__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    text-align: start;
    row-gap: 10px;
}

.logoHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;
}

.logo {
    width: 24px;
    height: 24px;
}

.downloadSection__button {
    width: 250px;
}

.downloadSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    column-gap: 10px;
}

.availableForChrome {
    font-size: 12px;
}

.supportSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 20px;
    column-gap: 10px;
}

.supportSection__item {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;
}

.supportSection__item img {
    width: 24px;
    height: 24px;
}

.landingSection__hero__demo {
    width: 100%;
    padding: 20px;
    border-radius: 25px;
    background-color: var(--grey0);
    border: 1px solid var(--grey1);
}

.landingSection__hero__demo video {
    height: 100%;
    max-height: 300px;
    width: 100%;
    border: none;
    outline: none;
}

.landingSection__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "grid1 grid2";
    column-gap: 30px;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
}

.landingSection__grid__item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    row-gap: 20px;
    padding: 20px;
}

.landingSection__grid__item__image {
    border-radius: 25px;
    padding: 25px;
    /* background-color: var(--grey0); */
    border: 1px solid var(--grey1);
    width: 100%;
    height: 100%;
}

.landingSection__grid__item__image img {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
}

.landingSection__grid__item__image__small {
    padding: 100px;
}

.totalUsers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
}

.landingSection__download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: var(--green); */
    border-radius: 25px;
    width: 100%;
    height: 300px;
    background: linear-gradient(to top, white 0%, var(--green) 100%);
}

.landingSection__faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 40px;
    column-gap: 10px;
}

.landingSection__faq__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 20px;
    column-gap: 10px;
    width: 100%;
}

.sectionReview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 10px;
    column-gap: 10px;
}

@media screen and (max-width: 1200px) {
    .supportSection {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
    }
    .landingSection__grid {
        grid-template-columns: 1fr;
        grid-template-areas: "grid1" "grid2";
    }
    .landingSection__totalReviews__reviews {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}