.promptResultView {
    display: flex;
    flex-direction: column;
    background-color: var(--grey3);
    border-radius: 8px;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.promptResultView__result {
    height: 400px;
}

.promptResultView__result__placeholder__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--grey3);
    border-radius: 8px;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.promptResultView__result__placeholder {
    background-color: red;
}

.promptResultView__result__placeholder__svg {
    width: 200px;
    height: 200px;
}

.promptResultView__result__fulfilled {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.promptResultView__result__value {
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
}

.promptResultView__result__action__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 20px;
}

.promptResultView__result__action__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.promptResultView__result__action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--grey2);
    column-gap: 10px;
}

.promptResultView__result__action p {
    color: var(--grey2);
}

.promptResultView__result__action:hover {
    color: white
}

.promptResultView__result__action:hover p {
    color: white;
}

.promptResultView__result__action__copy__popup {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    width: 200px;
    background-color: var(--grey4);
    padding: 10px;
    bottom: 10px;
    border-radius: 8px;
    z-index: 100;
    /*  cursor: pointer; */
}

.promptResultView__result__copy__popup p {
    color: white;
}

.save__popup {
    padding: 10px;
    bottom: 10px;
    border-radius: 8px;
    background-color: var(--grey4);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 200px;
}

.save__popup__button__row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

@keyframes resultFadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 700px) {
    .promptResultView__result__action__list {
        width: 100%;
    }
}