.credit-refill-option-container {
    max-width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: #F9F9F9;
}

.credit-refill-option-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}