.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    row-gap: 30px;
}

.whiteSection {
    border-radius: 50px;
    background-color: var(--white);
}