.page__account {
    margin: auto;
    max-width: 400px;
}

.page__account__section {
    padding: 20px;
    background-color: var(--grey3);
    border-radius: 8px;
    width: 100%;
    text-align: start;
}

.page__account__section__2 {
    animation-delay: 0.2s;
}

.page__account__section__3 {
    animation-delay: 0.4s;
}

.spacer {
    height: 10px;
}

.account__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    row-gap: 5px;
}