.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    padding: 10px 20px;
    background-color: var(--grey4);
    border-radius: 16px;
    transition: transform 0.15s ease-in-out;
    cursor: pointer;
}

/* Transition float up when hovering */
.container:hover {
    transform: translateY(-5px);
    background-color: var(--grey3);
}

.container img {
    width: 32px;
    height: 32px;
}