.page__auth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: calc(100vh - 120px);
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 30px;
}

.page__auth__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.page__auth__illustration {
    width: 400px;
    height: 400px;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 768px) {
    .page__auth {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .page__auth__section__left {
        display: none;
    }
}