.layout__fullscreen {
    padding: 60px;
    width: 100vw;
    height: 100vh;
    background-color: var(--grey4);
}

.layout__fullscreen__outlet {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .layout__fullscreen {
        height: 100%;
        width: 100%;
        min-height: 100vh;
    }
}