.layout__private {
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    background-color: var(--grey4);
    min-height: 100vh;
}

.page__centerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 120px);
    row-gap: 20px;
    text-align: center;
}

.layout__private__main__area {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--grey4);
}

.header__nav__icon--light {
    color: white;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    color: white;
}

p,
a,
body,
input,
li,
ul,
label,
body {
    color: white;
}