.app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  column-gap: 20px;
  row-gap: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px 12px;
}

.options {
  display: flex;
  flex-direction: row;
  row-gap: 5px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  column-gap: 20px;
}

.reply__options {
  display: flex;
  flex-direction: row;
  row-gap: 5px;
  column-gap: 20px;
  justify-content: flex-start;
  align-items: center;
}

.reply__actions {
  display: flex;
  flex-direction: row;
  row-gap: 5px;
  column-gap: 5px;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .options {
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
  }

  .reply__options {
    width: 100%;
  }

  .reply__actions {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .reply__options {
    flex-direction: column;
    row-gap: 5px;
  }

  .reply__actions {
    justify-content: center;
  }

  .app {
    align-items: center;
  }
}