.app {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px 12px;
}

.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 5px;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
}

.reply__actions {
  display: flex;
  flex-direction: row;
  row-gap: 5px;
  column-gap: 5px;
  justify-content: flex-start;
  align-items: center;
}

.instructionsPopup__parent {
  position: relative;
}

.templatesPopup__parent {
  position: relative;
}

.textButton {
  cursor: pointer;
}