@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro);

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
    width: 100vw;
    background-color: red;
    background-image: url("../assets/images/background4_compressed.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -60px;
    margin-bottom: -60px;
}

#hero h1 {
    font-weight: 700;
    color: white;
    text-align: center;
    margin: 0;
}

#hero p {
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: 'Source Serif Pro', serif;
    font-size: 22px;
}

.section #1 {
    height: 500px;
}

/* 
#try-out-button {
    background-color: white;
    color: black;
    justify-content: center;
} */