@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animation__fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animation__fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animation__fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* Transitions */

.transition__parent {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.transition__fadeInDown {
    visibility: visible;
    opacity: 1;
    transform: translateY(20px);
}

.transition__fadeInUp {
    visibility: visible;
    opacity: 1;
    transform: translateY(-20px);
}