.authForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 250px;
    justify-content: center;
    height: 100%;
    width: 100%;
    row-gap: 20px;
}

.authForm__header {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    text-align: start;
}

.authForm__field__container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

.authForm__secondaryActions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.authForm__field__container a {
    text-align: end;
    color: var(--grey3);
    font-size: 14px;
    text-decoration: underline;
}

.authForm__message {
    text-align: center;
}

/* @media (max-width: 768px) {
    .authForm__header {
        text-align: center;
    }
} */