.authForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 250px;
    justify-content: center;
    height: 100%;
    width: 100%;
    row-gap: 20px;
}

.authForm__header {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    text-align: center;
}

.authForm__field__container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

.authForm__secondaryActions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.authForm__field__container a {
    text-align: end;
    color: var(--grey2);
    font-size: 14px;
    text-decoration: underline;
}

.authForm__message {
    text-align: center;
}

.authForm__agreeToTerms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    row-gap: 5px;
    column-gap: 10px;
}

.authCaption {
    font-size: 12px;
}