.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: left;
    min-height: 200px;
    padding: 20px;
    line-height: 1.5rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}