.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 120px;
    border-bottom: 1px solid var(--grey1);
}

.header {
    background-color: var(--grey1);
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 10px;
    padding: 10px;
    text-align: center;
    min-width: 100px;
}

.cellAlignLeft {
    text-align: left;
}

.cellAlignRight {
    text-align: right;
}

.action {
    color: royalblue;
}

.action>* {
    cursor: pointer;
}

.logMarker {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.error {
    background-color: orangered;
}

.warning {
    background-color: yellow;
}

.info {
    background-color: blue;
}

.critical {
    background-color: red;
}