.creditCount {
    color: var(--green)
}

.header__private {
    background-color: var(--grey4);
    border-bottom: 1px solid var(--grey3);
}

.header__private__control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.header__nav__menu__private {
    background-color: var(--grey3);
}

.header__main {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.header__main h5 {
    cursor: pointer;
}

.header__nav__item__trial {
    background-color: var(--green);
    border-radius: 4px;
    padding: 0px 5px;
}

.header__nav__item__trial p {
    color: var(--grey5);
    font-size: 12px;
    font-weight: 600;
}