.creditCount {
    color: var(--green)
}

.header__private {
    background-color: var(--grey4);
    border-bottom: 1px solid var(--grey3);
}

.header__private__control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.header__nav__menu__private {
    background-color: var(--grey3);
}